@using AgendaMVC.Dtos
@model IEnumerable<EventoDto>

<div class="text-center">
    @foreach (var eventoDto in Model)
    {
       <div class="row">
           @eventoDto.Nome
           @eventoDto.StatusAtualEvento
        </div> 
    }
    
</div>
